/* anim.css */
#div_picButtonsArea {
    width: 0px;
}
#div_picPhoto {
    display: none;
}
#div_picsSocial {
    display: none;
}

#div_textLogo {
    display: none;
}
#div_textAboutMe {
    display: none;
}
#div_textArea {
    display: none;
}
#div_textAreaWhite {
    display: none;
}
