/* main.css */

/*
 * z-index order:
 * 0 - body and circles
 * 1 - content
 * 2 - right buttons
 * 3 - photo
 */

/*
 * base setup
 */
body {
    background: #FFF;
    color: #000;
    font-family: sans-serif;
    /* body background */
    background: url("../images/clouds.jpg") repeat-x;
    background-color: rgb(174, 185, 196);
    z-index: 0;
}

/*
 * main background
 * also works as full-body-size div
 */
#div_background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    /* set minimum size */
    min-width: 733px; /* 30 + 300 + 5*2 + 1*2 + 391 */
    min-height: 358px; /* 50 + (52+25)*4 */

    /* needed for animations */
    overflow: hidden;
}

/* -----------------------------------------------------------------------------
 * shared - start
 */

/*
 * are for the buttons on the right
 * various links are shown in home page; back link on specific pages
 */
#div_picButtonsArea {
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 2; /* above normal content */
}
/* button */
.div_picButton {
    background: url("../images/buttons.png") 0px 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 391px;
    height: 52px;
}
/* button when hovered */
.div_picButtonHover {
    background: url("../images/buttons.png") 0px 52px;
}
/* configure text */
.div_picButton p {
    color: #FFF;
    font-size: 140%;
    padding: 10px;
    padding-left: 120px;
}
/* remove text decoration on links */
.div_picButton a {
    text-decoration: none;
}

/*
 * text area used for some specific page content, like CV
 */
#div_textArea {
    background-color: rgba(35, 35, 35, 0.7);
    color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
    padding: 1%;
    position: absolute;
    overflow-y: auto;
    top: 5%;
    left: 5%;
    width: 60%;
    height: 80%;
    z-index: 1;
}

/* shared - end
 * -----------------------------------------------------------------------------
 */

/* -----------------------------------------------------------------------------
 * home - start
 */

/*
 * Photo style, adapted from google+ profile page
 */
#div_picPhoto {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(154, 154, 154);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 5px;
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 3; /* above buttons */
}
#div_picPhoto img {
    background-color: rgb(233, 236, 238);
    display: table;
    line-height: 0;
    width: 250px;
    height: 250px;
}

/*
 * 'falkTX' logo style
 */
#div_textLogo {
    background: #f00;
    position: absolute;
    top: 310px;
    left: 30px;
    width: 300px;
    z-index: 3; /* above buttons */
}
#div_textLogo p {
    color: #FFF;
    font-size: 200%;
    text-align: center;
}

/*
 * About me style
 */
#div_textAboutMe {
    background: url("../images/aboutmebg.png");
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 512px;
    height: 512px;
}
#div_textAboutMe p {
    color: #FFF;
    font-size: 105%;
    text-align: center;
    text-shadow: #000 -3px 4px 4px;
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 400px;
}

/*
 * circles
 */
.img_circle {
    opacity: 0.0;
    position: absolute;
    z-index: 0;
}
#circleR1 {
    top: 220px;
    left: 300px;
}
#circleR2 {
    top: 600px;
    left: 400px;
}
#circleR3 {
    top: 520px;
    left: 500px;
}
#circleR4 {
    top: 320px;
    left: 600px;
}
#circleR5 {
    top: 120px;
    left: 700px;
}

/* home - end
 * -----------------------------------------------------------------------------
 */

/* -----------------------------------------------------------------------------
 * myself - start
 */

/* --------- nothing yet ------------------- */

/* myself - end
 * -----------------------------------------------------------------------------
 */

/* -----------------------------------------------------------------------------
 * projects - start
 */

.div_proj {
    width: 100%;
    text-align: center;
}
.div_proj a {
    text-decoration: none;
}
.div_proj li {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.div_proj ul, .div_proj li {
    display: inline-block;
}

#div_proj_kxstudio {
    background-image: url("../images/proj_bg_kxstudio.png");
    border: 1px solid #71767A; /*#4C4F52;*/
    padding-top: 15px;
    margin-bottom: 5px;
    height: 196px; /* -20px */
}

#div_proj_distrho {
    background-color: #1B1C1C;
    border: 1px solid #71767A; /*#4C4F52;*/
    border-bottom: 4px solid #D6D6D6;
    padding-top: 15px;
    margin-bottom: 5px;
    height: 66px;
}
#div_proj_distrho span {
  line-height: 50px;
}

#div_proj_qtsixa {
    background-color: #E8E7E7;
    border: 1px solid #71767A; /*#4C4F52;*/
    padding-top: 15px;
    margin-bottom: 5px;
    height: 130px;
    color: #000;
}
#div_proj_qtsixa li {
    padding: 0;
    padding-left: 15px;
}

/* projects - end
 * -----------------------------------------------------------------------------
 */

/* -----------------------------------------------------------------------------
 * social - start
 */
#div_picsSocial {
    background-color: rgb(0, 0, 0);
    color: #FFF;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
    padding: 1%;
    position: absolute;
    overflow: hidden;
/*     overflow-y: no-display; */
    top: 5%;
    left: 5%;
    width: 60%;
    height: 80%;
    z-index: 1;
}
#div_picsSocialTop {
    background: url("../images/blocks1.jpg") repeat-x;
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0px;
    top: 0px;
    z-index: 2;
}
#div_picsSocialBottom {
    background: url("../images/blocks2.jpg") repeat-x;
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0px;
    bottom: 0px;
    z-index: 2;
}
#div_picsSocialCenter {
    position: absolute;
    top: 33%;
    left: 10%;
    z-index: 3;
}
#div_picsSocialCenter img {
    padding: 0px 0px 4px 0px;
    margin: 0px 0px 0px 0px;
}
/* social - end
 * -----------------------------------------------------------------------------
 */

/* -----------------------------------------------------------------------------
 * CV - start
 */

#div_textAreaWhite {
    background-color: rgba(255, 255, 255, 0.7);
    color: #3F3A38;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
    font-size: 80%;
    padding: 1%;
    position: absolute;
    overflow-y: auto;
    top: 5%;
    left: 5%;
    width: 60%;
    height: 80%;
    z-index: 1;
}
#div_textAreaWhite tr {
    padding-top: 20px;
}
#div_textAreaWhite td {
    padding-left: 20px;
    line-height: 150%;
}
#div_textAreaWhite h2 {
    color: #3F3A38;
    font-size: 150%;
    font-weight: normal;
}
#div_textAreaWhite h3 {
    color: #0E4194;
    font-size: 125%;
    font-weight: normal;
}
#div_textAreaWhite h4 {
    color: #0E4194;
    font-size: 100%;
    font-weight: normal;
    line-height: 100%;
}
#div_textAreaWhite span {
    color: #1593CB;
}
#div_textAreaWhite ul {
    line-height: 125%;
    list-style-type: disc;
    padding-left: 20px;
}

#table_inside_cv, .img_cv_photo {
    margin-top: 10px;
}
#table_inside_cv tr {
    padding-top: 0px;
}
#table_inside_cv td {
    padding-left: 5px;
}

.img_cv {
    height: 16px;
/*     padding-right: 10px; */
}
.img_cv_photo {
    height: 120px;
}

#span_cet {
    float: right;
}

#span_download, #span_lang {
    float: right;
}
#span_download a, #span_lang a {
    text-decoration: none;
}

/* CV - end
 * -----------------------------------------------------------------------------
 */
